In [1]:
import pandas as pd

In [2]:
ROOT_PATH = '../../data'
IO_PATH = f'{ROOT_PATH}/output'

In [7]:
df_category_ori = pd.read_csv(f'{IO_PATH}/alabama_old/pre-processing/categorypoi-input.csv')

In [8]:
df_next_ori = pd.read_csv(f'{IO_PATH}/alabama_old/pre-processing/nextpoi-input.csv')

In [9]:
df_category_new = pd.read_csv(f'{IO_PATH}/alabama/pre-processing/category-input.csv')

In [19]:
df_next_new = pd.read_csv(f'{IO_PATH}/alabama/pre-processing/next-input.csv')

In [11]:
df_category_ori.head()

,placeid,0,1,2,3,4,5,6,7,8,...,91,92,93,94,95,96,97,98,99,category
0,273165,-4.238136,-1.578996,2.351846,-0.633385,2.043784,-2.556938,1.681610,1.075217,1.784059,...,-0.004165,0.006531,0.005173,-0.006456,-0.000139,-0.003274,-0.006376,0.006390,0.002456,Food
1,1524114,-0.834764,-1.416180,1.506422,-0.682194,0.808527,-0.202727,0.400932,-0.866391,1.696196,...,0.007793,-0.005026,0.010734,0.003696,0.010346,0.000045,-0.001310,-0.011035,-0.004743,Shopping
2,199047,-2.310695,-2.074995,0.703705,0.992486,-1.569735,-0.255168,0.957636,3.927264,0.108342,...,0.003233,-0.001045,0.001722,0.019006,0.011545,-0.000943,-0.006807,0.009815,-0.006592,Community
3,779322,-0.887653,-0.570828,-0.017805,-1.583786,0.271897,-2.290417,-0.433170,0.406751,-0.854576,...,0.004876,-0.008185,0.015611,-0.003585,0.012413,-0.005113,-0.002170,-0.000654,0.003639,Outdoors
4,142726,-3.469732,-2.097725,0.875827,-2.125236,2.396685,-1.306759,0.371742,1.553883,1.265259,...,-0.008659,-0.009601,0.011597,-0.001352,0.015501,-0.003885,-0.006680,0.009177,-0.003994,Food

In [12]:
df_category_new.head()

,placeid,0,1,2,3,4,5,6,7,8,...,91,92,93,94,95,96,97,98,99,category
0,273165,-4.238136,-1.578996,2.351846,-0.633385,2.043784,-2.556938,1.681610,1.075217,1.784059,...,-0.004165,0.006531,0.005173,-0.006456,-0.000139,-0.003274,-0.006376,0.006390,0.002456,Food
1,1524114,-0.834764,-1.416180,1.506422,-0.682194,0.808527,-0.202727,0.400932,-0.866391,1.696196,...,0.007793,-0.005026,0.010734,0.003696,0.010346,0.000045,-0.001310,-0.011035,-0.004743,Shopping
2,199047,-2.310695,-2.074995,0.703705,0.992486,-1.569735,-0.255168,0.957636,3.927264,0.108342,...,0.003233,-0.001045,0.001722,0.019006,0.011545,-0.000943,-0.006807,0.009815,-0.006592,Community
3,779322,-0.887653,-0.570828,-0.017805,-1.583786,0.271897,-2.290417,-0.433170,0.406751,-0.854576,...,0.004876,-0.008185,0.015611,-0.003585,0.012413,-0.005113,-0.002170,-0.000654,0.003639,Outdoors
4,142726,-3.469732,-2.097725,0.875827,-2.125236,2.396685,-1.306759,0.371742,1.553883,1.265259,...,-0.008659,-0.009601,0.011597,-0.001352,0.015501,-0.003885,-0.006680,0.009177,-0.003994,Food

In [13]:
df_next_ori.head()

,0,1,2,3,4,5,6,7,8,9,...,900,901,902,903,904,905,906,907,908,userid
0,-2.605381,-4.669380,3.183501,-4.178987,-0.632837,-2.013793,0.616270,0.608497,2.871421,-1.294332,...,Shopping,Community,Outdoors,Entertainment,Outdoors,Outdoors,Shopping,Community,Outdoors,18
1,0.351476,1.071774,-2.244947,-2.620024,-1.766123,-6.455814,-1.034781,0.885280,-5.213059,-5.447869,...,Food,Community,Shopping,Food,Community,Shopping,Shopping,Shopping,Shopping,18
2,1.975274,-5.915866,-0.036875,-3.063487,1.094318,-2.673536,1.588201,-1.966504,-0.428548,-6.092457,...,Shopping,Food,Community,Shopping,Shopping,Outdoors,Outdoors,Shopping,Shopping,18
3,1.975274,-5.915866,-0.036875,-3.063487,1.094318,-2.673536,1.588201,-1.966504,-0.428548,-6.092457,...,Food,Community,Shopping,Shopping,Shopping,Community,Food,Community,Shopping,18
4,1.975274,-5.915866,-0.036875,-3.063487,1.094318,-2.673536,1.588201,-1.966504,-0.428548,-6.092457,...,Shopping,Shopping,Community,Shopping,Shopping,Community,Food,Food,Shopping,18

In [20]:
df_next_new.head()

,0,1,2,3,4,5,6,7,8,9,...,900,901,902,903,904,905,906,907,908,userid
0,-2.605381,-4.669380,3.183501,-4.178987,-0.632837,-2.013793,0.616270,0.608497,2.871421,-1.294332,...,Shopping,Community,Outdoors,Entertainment,Outdoors,Outdoors,Shopping,Community,Outdoors,18
1,0.351476,1.071774,-2.244947,-2.620024,-1.766123,-6.455814,-1.034781,0.885280,-5.213059,-5.447869,...,Food,Community,Shopping,Food,Community,Shopping,Shopping,Shopping,Shopping,18
2,1.975274,-5.915866,-0.036875,-3.063487,1.094318,-2.673536,1.588201,-1.966504,-0.428548,-6.092457,...,Shopping,Food,Community,Shopping,Shopping,Outdoors,Outdoors,Shopping,Shopping,18
3,1.975274,-5.915866,-0.036875,-3.063487,1.094318,-2.673536,1.588201,-1.966504,-0.428548,-6.092457,...,Food,Community,Shopping,Shopping,Shopping,Community,Food,Community,Shopping,18
4,1.975274,-5.915866,-0.036875,-3.063487,1.094318,-2.673536,1.588201,-1.966504,-0.428548,-6.092457,...,Shopping,Shopping,Community,Shopping,Shopping,Community,Food,Food,Shopping,18