In [2]:
import pandas as pd

In [12]:
florida = pd.read_csv('/Users/vitor/Desktop/mestrado/ingred/data/checkins/Florida.csv')

In [13]:
florida.placeid.nunique()

74381

In [5]:
filter_new = pd.read_csv("/Users/vitor/Desktop/mestrado/ingred/data/output/florida_test/filtrado.csv")

In [6]:
filter_new.placeid.nunique()

73750

In [16]:
embb_test = pd.read_csv("/Users/vitor/Desktop/mestrado/ingred/data/output/florida_test/embeddings.csv")

In [17]:
embb_test.placeid.nunique()

65067

In [13]:
embb_new = pd.read_csv("/Users/vitor/Desktop/mestrado/ingred/data/output/florida_new/florida_new-embeddings.csv")

In [14]:
embb_new.placeid.nunique()

71952

In [7]:
# get the filter_new and get only the placeid that are in embb_test
filter_test = filter_new[filter_new.placeid.isin(embb_test.placeid)]

In [8]:
filter_test.placeid.nunique()

64454

In [14]:
florida_test = florida[florida.placeid.isin(embb_test.placeid)]

In [15]:
florida_test.placeid.nunique()

65009

In [11]:
filter_test

,userid,placeid,datetime,created_at,longitude,latitude,photos_count,checkins_count,users_count,radius_meters,highlights_count,items_count,max_items_count,spot_categories,detailed,spot,category,datetime.1,state_name,country_name
0,14543,758476,2010-03-01 19:26:26,2010-03-20T22:42:26Z,-81.307583,28.431110,347,12006,5624,2250,22,11,10,"[{'url': '/categories/45', 'name': 'Airport'}]",True,Airport,Travel,2010-03-01 14:26:26,Florida,United States of America
1,14543,229295,2010-03-01 17:16:49,2009-12-18T18:07:54Z,-81.472943,28.437108,5,80,74,75,0,3,10,"[{'url': '/categories/19', 'name': 'Italian'}]",True,Italian,Food,2010-03-01 12:16:49,Florida,United States of America
6,14543,135276,2010-02-28 00:18:53,2009-11-26T19:15:31Z,-81.466418,28.474550,6,190,162,50,0,10,10,"[{'url': '/categories/63', 'name': 'Monument'}]",True,Monument,Outdoors,2010-02-27 19:18:53,Florida,United States of America
7,14543,230533,2010-02-28 00:15:23,2009-12-18T21:02:07Z,-81.468065,28.475642,5,242,226,75,0,7,10,"[{'url': '/categories/75', 'name': 'Theme Park'}]",True,Theme Park,Entertainment,2010-02-27 19:15:23,Florida,United States of America
8,14543,16719,2010-02-28 00:13:53,2009-07-05T16:10:43Z,-81.466818,28.477938,5,256,218,50,0,6,10,"[{'url': '/categories/75', 'name': 'Theme Park'}]",True,Theme Park,Entertainment,2010-02-27 19:13:53,Florida,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1353154,1021564,31707,2010-09-19 12:04:20,2009-09-29T10:01:06Z,-82.534693,27.980939,108,3753,1725,2000,7,10,10,"[{'url': '/categories/45', 'name': 'Airport'}]",True,Airport,Travel,2010-09-19 08:04:20,Florida,United States of America
1353155,1021564,528889,2010-09-19 12:03:25,2010-02-08T18:28:46Z,-82.531979,27.982928,3,189,132,250,0,10,10,"[{'url': '/categories/224', 'name': 'Terminal'}]",True,Terminal,Travel,2010-09-19 08:03:25,Florida,United States of America
1353156,1021564,30701,2010-09-18 15:13:43,2009-09-27T19:08:57Z,-82.520714,27.964594,14,652,309,300,1,10,10,"[{'url': '/categories/11', 'name': 'Mall'}]",True,Mall,Shopping,2010-09-18 11:13:43,Florida,United States of America
1353157,1021564,812458,2010-09-14 02:03:52,2010-03-27T22:56:13Z,-82.766098,28.078650,9,37,8,75,1,4,10,"[{'url': '/categories/241', 'name': 'Bar'}]",True,Bar,Nightlife,2010-09-13 22:03:52,Florida,United States of America
1353158,1021564,812458,2010-09-09 23:50:18,2010-03-27T22:56:13Z,-82.766098,28.078650,9,37,8,75,1,4,10,"[{'url': '/categories/241', 'name': 'Bar'}]",True,Bar,Nightlife,2010-09-09 19:50:18,Florida,United States of America

In [10]:
filter_test.to_csv("/Users/vitor/Desktop/mestrado/ingred/data/output/florida_test/filtrado.csv")